/* Styles go here */

table, td {
    border: 1px solid #cecece;
    padding: 10px;
}

thead {
    font-weight: 700;
}

.male {
    background-color: #65bff3;
}

.female {
    background-color: #932bb3;
}

.available {
    border: 2px solid green;
}

.unavailable {
    border: 2px solid red;
}